DISCORD_WEBHOOK_URL=
DISCORD_EMBED_COLOR=FA660F
ALERT_TIMEZONE=Australia/Sydney
ALERT_TIMES=09:00,21:00
ALERT_WINDOW_MINUTES=180
SEC_USER_AGENT=CalmNAV/1.0.3 (https://github.com/natyaphis/CalmNAV; contact via GitHub)
SCHEDULE_STATE_BRANCH=automation-state
SCHEDULE_STATE_PATH=.calmnav/schedule-state.json
MANUAL_BTC_HOLDINGS=
MANUAL_TOTAL_COST_USD=
MANUAL_SHARES_OUTSTANDING=
